DATABASE_URL=mysql+pymysql://root:password@localhost:3306/cemede_capacidad_carga
SECRET_KEY=change-this-secret-key-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=480
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=siteccemede@gmail.com
SMTP_PASSWORD=gmytzqokqqqbcotq
SMTP_FROM=siteccemede@gmail.com